@model Background_ProFinder.Models.ViewModel.LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}



<div class="mt-5">
    <h1 class="text-center">Login</h1>

    <h4 class="text-center">PRO FINDER BackAccount</h4>
    <hr />
    <div class="row" id="login">
        <div class="col-md-4 formdiv mx-auto py-2">
            <form asp-action="Login">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="AccountName" class="control-label"></label>
                    <input asp-for="AccountName" class="form-control accountinput" id="userAccount" />
                    <span asp-validation-for="AccountName" class=""></span>
                    <span class="text-danger accountspan"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <a class="ml-2 showpsw"><i class="far fa-eye eyesicon"></i></a>
                    <input type="password" class="form-control pswinput" id="userePassword"  asp-for="Password"/>
                    <span asp-validation-for="Password" class=""></span>
                    <span class="text-danger Passwordspan"></span>
                </div>

                @if (ViewData["ErrorMessage"] != null)
                {
                    <span class="text-danger font-weight-bold">@ViewData["ErrorMessage"]</span>
                }

                <div class="form-group d-flex justify-content-center mt-2">
                    <input type="submit" value="登入" class="btn btn-primary w-50 mx-auto loginbtn" disabled />
                </div>
            </form>
        </div>
    </div>
</div>
@section TopCSS{
<style>
    form {
        width:80%;
        margin:auto;
        
    }
    .formdiv {
        border: 1px solid #d5c9c9;
    }
</style>
 }

@section endJS{ 
<script>
    let isShowPsw = false;
    let pswCheck;
    let accountCheck;
    let pswInput = document.querySelector('.pswinput');
    let eyesicon = document.querySelector('.eyesicon');
    let accountinput = document.querySelector('.accountinput');
    let accountspan = document.querySelector('.accountspan');
    let passwordspan = document.querySelector('.Passwordspan');
    let loginbtn = document.querySelector('.loginbtn');

    //CheckAccountInput
    accountinput.addEventListener('change', function () {
        let accountvalue = accountinput.value
        if (accountvalue == '') {
            accountspan.innerText = '帳號欄位不得空白';
            accountCheck = false;
        }
        else {
            accountspan.innerText = '';
            accountCheck = true;
        }
        console.log(accountvalue)
        console.log(accountCheck)
        CheckInput();
    })

    //CheckAllInput
    function CheckInput() {
        if (pswCheck && accountCheck) {
            loginbtn.disabled = false;
        }
        else {
            loginbtn.disabled = true;
        }
    }

    //CheckPasswordInput
    pswInput.addEventListener('change', function () {
        let pswvalue = pswInput.value
        if (pswvalue == '') {
            passwordspan.innerText = '密碼欄位不得空白';
            pswCheck = false;
        }
        else {
            passwordspan.innerText = ''
            pswCheck = true;
        }
        console.log(pswvalue)
        console.log(pswCheck)
        CheckInput();
    })

    //ShowPassword & Eyesicon change
    document.querySelector('.showpsw').addEventListener('click', function () {
        isShowPsw = !isShowPsw;
        if (isShowPsw) {
            pswInput.type = 'text'
            eyesicon.classList.replace('fa-eye-slash', 'fa-eye')
        }
        else {
            pswInput.type = 'password'
            eyesicon.classList.replace('fa-eye', 'fa-eye-slash')
        }
    })

</script>
}



