
@{
    ViewData["Title"] = "ResetPassword";
}

<div class="container mt-4" id="resetpassword">
    <h1 class="text-center">修改密碼</h1>
    <div class="row">
        <div class="col-md-4 formdiv mx-auto py-2">
            <form>

                <div class="form-group">
                    <label for="AccountName" class="control-label">欲更改之密碼</label>
                    <a class="ml-2" v-if="pwdFlag" @@click="IsShowPassword"><i class="far fa-eye"></i></a>
                    <a class="ml-2" v-else @@click="IsShowPassword"><i class="far fa-eye-slash"></i></a>
                    <input for="AccountName" class="form-control" id="userAccount" v-model="password" :type="pwdFlag?'password':'text'" @@change="CheckPasswordType" />

                    <span class="text-danger font-weight-bolder">{{ typemsg }}</span>
                </div>

                <div class="form-group">
                    <label for="Password" class="control-label">確認密碼</label>
                    <a class="ml-2" v-if="confirmPwd" @@click="IsConfirmShowPassword"><i class="far fa-eye"></i></a>
                    <a class="ml-2" v-else @@click="IsConfirmShowPassword"><i class="far fa-eye-slash"></i></a>
                    <input for="Password" class="form-control" id="userePassword" :type="confirmPwd?'password':'text'" v-model="checkPassword" :style="{ 'border-color' : error? 'red':'' }" />
                    <span class="text-danger font-weight-bolder">{{ msg }}</span>
                </div>

                <div class="form-group d-flex justify-content-center mt-2">
                    <button :class="isDisabled?'disablentb':'postbtn'" @@click.prevent="ResetPsw" :disabled="isDisabled">確認修改</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section TopCSS{
    <style>
        .postbtn {
            width: 90px;
            height: 40px;
            border-radius: 5px;
            color: white;
            background-color: #5b7dca;
            background-repeat: no-repeat;
            font-weight: bolder;
            margin-bottom: 10px;
            margin-left: 30px;
            font-size: 15px;
            border: 0.5px solid #9e9696;
        }
        .disablentb {
            width: 90px;
            height: 40px;
            border-radius: 5px;
            color: white;
            background-color: #9e9696;
            opacity:.5;
            background-repeat: no-repeat;
            font-weight: bolder;
            margin-bottom: 10px;
            margin-left: 30px;
            font-size: 15px;
            border: 0.5px solid #9e9696;
        }
    </style>
}

@section endJS{
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <!-- Vue toasted -->
    <script src="https://unpkg.com/vue-toasted"></script>

    <script>
        Vue.use(Toasted)
    </script>
    <script>
        let resetpassword = new Vue({
            el: '#resetpassword',
            data: {
                password: '',
                pwdFlag: true,
                confirmPwd: true,
                checkPassword: '',
                msg: '',
                typemsg: '',
                error: '',
                adminId: '',
                isDisabled:true
            },
            methods: {
                IsShowPassword() {
                    this.pwdFlag = !this.pwdFlag
                },
                IsConfirmShowPassword() {
                    this.confirmPwd = !this.confirmPwd
                },
                CheckPasswordType() {
                    let PasswordReg = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[^]{8,16}$/;
                    if (!PasswordReg.test(this.password)) {
                        this.typemsg = '密碼欄位格式錯誤 (密碼需包含至少各1個英文大小寫及數字，並大於等於8個字符，不包含特殊字符)'
                    }
                    else {
                        this.typemsg = ''
                    }
                },
                ResetPsw() {
                    this.adminId = @ViewData["AdminId"]
                        axios.put(`/api/LoginApi/UpdatePassword?adminId=${this.adminId}&psw=${this.password}`)
                            .then(res => {
                                if (res.data.result) {
                                    this.$toasted.show("密碼更新成功", {
                                        theme: "outline",
                                        position: "top-center",
                                        duration: 1000
                                    });
                                    this.password = ''
                                    this.pwdFlag = true
                                    this.confirmPwd = true
                                    this.checkPassword = ''
                                    this.msg = ''
                                    this.typemsg = ''
                                }
                                else {
                                    this.$toasted.show(`密碼更新失敗 + ${res.data.ErrMsg}`, {
                                        theme: "outline",
                                        position: "top-center",
                                        duration: 1000
                                    });
                                }
                            })
                },
            },
            watch: {
                checkPassword: function () {
                    if (this.checkPassword != this.password) {
                        this.msg = '密碼不符'
                        this.error = true;
                        this.isDisabled = true;
                    }
                    else {
                        this.msg = '密碼符合'
                        this.error = false;
                        this.isDisabled = false;
                    }
                },
            }
        })
    </script>
}